* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.header {
    padding-top: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    width: 40%;
}

li {
    text-decoration: none;
    display:block;
    color: #000000;
    border-bottom: solid 1px #CCCCCC;
    padding: 8px;
}

li:hover {
    background-color: #f1f1f1;
    color: black;
}

button {
    padding: 6px;
    background-color: lightblue;
}
